# Supabase 配置
VITE_SUPABASE_URL=你的Supabase项目地址
# 匿名KEY (用于客户端)
VITE_SUPABASE_KEY=你的Supabase_Anon_Key
# 服务角色KEY (仅用于后台高权限操作，请勿泄露)
VITE_SUPABASE_SERVICE_ROLE_KEY=你的Supabase_Service_Role_Key

# DeepSeek API 配置
VITE_DEEPSEEK_API_KEY=你的DeepSeek_API_Key
